<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="A9MEdUzOKSxtR3EZzj4TiUr2dsjsyaKkC-EM7RFB9ko" />
</head> 
<div style="margin-top:10px;background:#f90;width:10%">
<%= link_to "Main",root_path %> <br />
<%= link_to "Prices", root_path%> <br />
<%= link_to "News", events_path%> <br />
<%= link_to "Contacts", contacts_path %> <br />
<%= link_to "Blog", posts_path%> <br />
<%= link_to "Gallery", photos_path%> <br />
<%= link_to "Frontfooter", root_path%> <br />
<%= link_to "Albums", albums_path%> <br />
</div>
<div style="margin-top:-163px;margin-left:10%;background:#aaa;width:100%;align:right">
<%= yield %>
</div>
</body>
</html>
 
