 <%= stylesheet_link_tag 'scaffold', 'blog' %>
<h1 class="posts">News</h1>

<table class="posts">
  <tr>
    <th></th>
    <th>Last edited</th>
  </tr>

<% for event in @events %>
  <tr>
    <td>
<p class="title">
<%= link_to event.title, event %>
<%if session[:user_id]==1%>
<%= link_to '(delete)',  event, :confirm => 'Are you sure?', :method => :delete  %><br>
<%end%>
</p>
<p class="description">
	<%= event.short_desc %>
</p>
    </td>
    <td>
    	<%= h event.updated_at.strftime('%d/%m/%Y %H:%M:%S') %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%if session[:user_id]==1%>
<%= link_to 'New event', new_event_path %>
<%end%>
<%= link_to 'Main Page', root_path %>