<h1>Listing posts</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Description</th> 
    <th>Updated at</th>
  </tr>

<% for post in @posts %>
  <tr>
    <td><%= link_to post.title, post %>
	    <%= link_to '(delete)',  post, :confirm => 'Are you sure?', :method => :delete  %>
	</td>
    <td>
	<%= post.short_desc %>
    </td>
    <td>
    	<%= h post.date.strftime('%d/%m/%Y %H:%M:%S') %>
    </td>
  </tr>
<% end %>
</table>


<br />
<%= link_to 'New post', new_post_path %>

<%= link_to 'Main Page', root_path %>