  <%= stylesheet_link_tag 'scaffold', 'albums' %>
<h1 class="posts">Listing albums</h1>

<table class="posts">
<% @albums.each do |album| %>
  <tr>
    <td class="title"><%= link_to album.name,album %></td>
    <td class="description"><%=h album.description %></td>
<%if session[:user_id]==1%>
    <td><%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></td>
<%end%>
  </tr>
<% end %>
</table>

<br />
<%if session[:user_id]==1%>
<%= link_to 'New album', new_album_path %>
<%end%>
<%=link_to 'Main Page', root_path%>