  <%= stylesheet_link_tag 'scaffold', 'albums', 'test' %>
<h1 class="posts">
  <%=h @album.name %>
</h1>

<p class="posts">
  <%=h @album.description %>
</p>

<br />
<div id="photos">
<% @collection.each do |photo|%>
        <class="thumbnail" id="item_<%= photo.id %>">
          <%= link_to image_tag(photo.image.url(:thumb)), "/album/#{photo.album.id}/img/#{photo.id}" %>
<%if session[:user_id]==1%>
          <%= link_to 'Edit Photo',"/photos/edit/#{photo.id}" %>
<%end%>
      <% end -%>

</div>
<%if session[:user_id]==1%>
<%= link_to 'Edit Album', edit_album_path(@album) %> |
<%end%>
<%= link_to 'Albums Index', albums_path %>