<% form_for :photo, @photo, :url => "/photos/save/#{@photo.id}" do |form| %>
   <br />
  <%= form.label :name%>
  <%= form.text_field :name%> <br />
  <p>
  <%= form.label :album%>  <%= select_tag 'photo[album]',options_from_collection_for_select(@albums,'id','name', :selected => @photo.album.id) %></p>

  <%= form.label :slideshow%>
  <%= form.check_box :slideshow %>
  <%= submit_tag 'save' %>
<% end %>
<%= button_to 'Delete', "/photos/destroy/#{@photo.id}" %>
