<h1>New Photo</h1>

<%= error_messages_for :photo %>
<% form_for :photo, @photo, :url => {:controller => 'photos', :action => 'create', :id => params[:id] }, :html => { :multipart => true } do |form| %>
  <%= form.file_field :image %>
  <%= form.text_field :name%>
  <p><b>Album</b><br/>
  <%= select("photo", "album_id", Album.find(:all).collect{ |c| [ c.name, c.id] }) %> </p>
  <%= submit_tag 'upload' %>
<% end %>

