<!-- gallery -->
<div id="gallery">
	<div id="thumbnails">
    <div id="sortable" class="wrapper">
        <script type="text/javascript">
document.observe('dom:loaded',function(){
    <% @collection.each do |photo|%>
      <% @pre = params[:albumid] ? "/album/#{photo.album.id}" : '' %>
      var ajax_<%= photo.id %> = new Control.Modal($(document.body).down('[href="<%= @pre %>/img/<%= photo.id %>"]'),{
className: 'window',
overlayOpacity: 0.9,
closeOnClick: 'overlay',
draggable: 'window',
iframe: false,
position: [function(){return (screen.width-500)*0.4},function(){return 10}],
onRemoteContentLoaded: function(){
        $('prev_id_<%=photo.id%>').hide();
        $('next_id_<%=photo.id%>').hide();
        },
afterClose: function(){
$('pins_<%=photo.id%>').replace('<div id="pins_<%=photo.id%>">');
$('mcont_<%=photo.id%>').show();
//$('mimage').replace('<%= image_tag photo.image.url(:medium), :id => "mimage"%>');
//$('mimage').innerHTML;
}
});
        <% if authorized? %>
var ajax_edit_<%= photo.id %> = new Control.Modal($(document.body).down('[href="/img/edit/<%=photo.id%>"]'),{
className: 'window',
overlayOpacity: 0.9,
closeOnClick: 'overlay',
draggable: 'window',
});
<% end%>
 
      <% end %>
  })
</script>
      <% @collection.each do |photo|%>
      <% @pre = params[:albumid] ? "/album/#{photo.album.id}" : '' %>
        <div style="position: relative;" class="thumbnail" id="item_<%= photo.id %>">
          <%= link_to image_tag(photo.image.url(:thumb)), "#{@pre}/img/#{photo.id}" %>
        <% if authorized? -%>
          <%= link_to 'Edit',"/img/edit/#{photo.id}",:class => 'edit_class', :style => "color: white" %>
        <% end -%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- end gallery-->