<h1>Editing footer</h1>

<% form_for(@footer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @footer %> |
<%= link_to 'Back', footers_path %>