<h1>Listing footers</h1>

<table>
  <tr>
    <th>Body</th>
  </tr>

<% @footers.each do |footer| %>
  <tr>
    <td><%=h footer.body %></td>
    <td><%= link_to 'Show', footer %></td>
    <td><%= link_to 'Edit', edit_footer_path(footer) %></td>
    <td><%= link_to 'Destroy', footer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New footer', new_footer_path %>